@model CRUD.Crosscutting.DTO.ProdutoDTO

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);">
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <div class="input-group">
                    <select id="cbCategoria" class="input-group">
                        <option selected="selected" value=""></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="NomeProduto" class="form-control" placeholder="Digite o nome do Produto" />
                </div>
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Valor" class="form-control" placeholder="Digite o nome do Produto" onkeyup="formatarMoeda(this);" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Adicionar" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/produto.Controller.js" asp-append-version="true"></script>